.progress-bar-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.progress-bar-group > .progress-bar {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.progress-bar-group .top {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #777;
}

.progress-bar-group .title{

}

.progress-bar-group .value {

}

.progress-bar-group .bottom {
    height: 4px;
    width: 100%;
    background-color: #ccc;
}

.progress-bar-group .progress {
    height: 4px;
    width: 90%;
    background-color: #36f;
}